/*---------------------------------*\
                COLORS
\*---------------------------------*/

:root{

    --menulink-dark: #0A2875;
    --menulink-light: #4468C2;
    --subtitle: #ADA8AD;
    --light: #f0f0f0;
    --hover-github: #B1E3F7;
}


